h1 イベント

= link_to new_event_path, class: "btn btn-sm btn-primary" do
  i.glyphicon.glyphicon-plus

h2 参加予定のイベント
= render 'list', events: @attended_planning_events

h2 過去に参加したイベント
= render 'list', events: @attended_finished_events

h2 すべてのイベント
= render 'list', events: @events
