th
  padding: 5px
  text-align: center

table.event-show-table
  th
    vertical-align: top !important

.btn
  margin-right: 5px

.nav-tabs
  margin-top: 5px
  margin-bottom: 5px

.tab-content
  margin-left: 10px
