th
  padding: 5px
  text-align: center

table.event-show-table
  th
    vertical-align: top !important

.btn
  margin-right: 5px

.event-panel
  margin-top: 5px
  .panel-heading
    padding-top: 3px
    padding-left: 3px
    padding-bottom: 0px
  .panel-body
    padding-bottom: 0

.no-content
  text-align: center
  color: gray
  font-size: 20px
